:root {
  --nav-text: #62636c;
  --white-color: #ffffff;
  --purble-color: #674292;
  --black-color: #000;
  --text-purble: #7469b6;
  --footer-color: #1e1f24;
  --number-color: #80828d;
  --light-black: #1e1f24;
  --line-color: #674292;
}

body {
  font-family: "Noto Sans Arabic", sans-serif;
}
/* Start Header */
.header {
  position: relative;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* [dir = "ltr"] .logo img{
  transform: scaleX(-1);
} */

.shape-container {
  position: absolute;
  z-index: 1;
  top: -60px;
  right: -30px;
  width: 300px;
}

[dir="ltr"] .shape-container {
  position: absolute;
  z-index: 1;
  top: -60px; 
  left: 0px;
  width: 300px;
  direction: ltr;
}
[dir="ltr"] .shape-container img{
  transform: scaleX(-1);
} 

@media (max-width: 767px) {
  .shape-container {
    display: none;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.navbar-nav .nav-link a {
  color: var(--nav-text);
}
.navbar-nav .nav-link:hover {
  color: var(--purble-color);
}

[dir="ltr"] .navbar-nav {
  text-align: left;
  direction: ltr;
}

.head_text {
  color: var(--black-color);
  font-size: 40px;
  transition: all 0.3s ease-in-out;
  text-align: right;
  font-weight: 600;
  font-size: 2.4rem;
}

.btn-login {
  transition: all 0.3s ease-in-out;
}

.btn {
  border: none;
  background-color: var(--purble-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  color: var(--purble-color);
  background-color: var(--white-color);
  box-shadow: 0 0 20px #9a9a9a70;
}

.btn-link {
  font-size: 20px;
  color: var(--text-purble);
  transition: all 0.3s ease-in-out;
}
.btn-link:hover {
  color: var(--nav-text);
}
/* End Header */

/* Start Main Banner  */
.btn-log {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
}

[dir="ltr"] .btn-log {
  text-align: center;
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: end;
}

.text-container { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  direction: rtl;
  margin-right: 5rem;
  margin-top: 5rem;
}

.text-container p {
  font-weight: 550;
}

[dir="ltr"] .text-container{
  align-items: flex-start; 
  text-align: left;
  direction: ltr;
  margin-left: 5rem;
  margin-right: 0;
}

.main-banner {
  text-align: end;
  padding: 60px 20px;
}

.line-left {
  position: absolute;
  width: 12px;
  height: 130px;
  background-color: var(--line-color);
  border-radius: 50px;
}

.line-left {
  left: 80px;
  top: 87%;
  transform: translateY(-50%);
}

.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--line-color);
  border-radius: 50%;
}

.circle.top {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.circle.bottom {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

/* End Main Banner */

/* Start Service Section */
.service-text {
  font-weight: 600;
  font-size: 3.5rem;
}

.service-p-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.services {
  text-align: center;
  padding: 60px 20px;
}
.service-item {
  height: 100%;
  border: 2px solid #e6e6e6;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  background: var(--white-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-item h5 {
  font-size: 24px;
  font-weight: 600;
}

.service-item p {
  font-size: 20px;
}

.services .service-item {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.services .service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
}

.services .service-item img {
  transition: transform 0.3s ease;
}

.services .service-item:hover img {
  transform: scale(1.1);
}
/* End Main Section-1 */

@media (max-width: 767px) {
  .shape-container-1,
  .shape-container-2 {
    display: none;
  }
}

.shape-container-1 {
  position: absolute;
  z-index: 1;
  top: 32%;
  right: 0px;
  width: 300px;
}

/* Section Start About */

.about-us-section {
  margin-top: 20%;
  padding: 60px 20px;
  margin-bottom: 1%;
}

.about-us-section .row {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .about_text {
    margin-top: 150px;
  }

  .background-circle {
    margin-left: -13%;
  }

  .about-us-section .astronaut-img{
    position: relative;
    top: 100px
  }

  .about-us-section .astronaut-img .img_ltr{
    position: relative;
    top: 80%
  }

  .shape-container-3 {
    display: none;
  }
}

[dir = "ltr"] .about-us-section .about_text {
  text-align: left;
}

/* النصوص موجهة لليمين */
.about-us-section .text-end {
  text-align: right;
}

/* تنسيق العناوين */
.about-us-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 10px;
}

/* تنسيق الأرقام */
.about-us-section h5 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--number-color);
}

.about-us-section h2 {
  font-size: 2.5rem;
  color: var(--purble-color);
  font-weight: 500;
}

.about-us-section p {
  font-size: 1.5rem;
  color: var(--light-black);
  font-weight: 500;
}


[dir = "ltr"] .background-circle {
  transform: scaleX(-1);
}

[dir = "ltr"] .astronaut-img {
  transform: scaleX(-1);
}

[dir = "ltr"] .img_ltr_1 {
  margin-left: -8%;
  margin-top: 5%;
}

[dir = "ltr"] .img_ltr {
  margin-left: 22%;
}

[dir = "ltr"] .shape-container-2 {
  margin-right: -5%;
}

.background-circle {
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(128, 0, 128, 0.1);
  border-radius: 50%;
  top: 90px;
  left: 100px;
  z-index: -1;
}

.shap_circle {
  position: absolute;
  top: 70%;
  right: 10%;
}

@media (max-width: 767px) {
  .about-us-section .row {
    flex-direction: column;
    text-align: center;
  }

  .about-us-section .col-lg-6 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.about-us-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.shape-container-2 {
  position: absolute;
  z-index: 1;
  top: 72%;
  right: 0%;
  width: 300px;
}

.shape-container-3 {
  position: absolute;
  z-index: 1;
  top: 71%;
  left: 0%;
  width: 300px;
}

/* Form Section */
.contact-section {
  margin-top: 20%;
  padding: 60px 20px;
}

/* تنسيق الحقول على نفس السطر */
.form-container .d-flex {
  display: flex;
  justify-content: space-between; /* يجعل الحقول تتوزع بالتساوي */
}

.form-container .form-group {
  flex: 1; /* تعيين العرض المتساوي بين الحقول */
}

.form-control::placeholder {
  color: #999999;
}

.form-container .form-group input {
  width: 100%;
}

.contact-image {
  margin-right: 25%;
  position: absolute;
  width: 500px;
  height: 550px;
  background: rgba(128, 0, 128, 0.1);
  border-radius: 50%;
  top: -315px;
  z-index: -1;
}

[dir = "ltr"] .contact-image {
  transform: scaleX(-1);
  margin-left: 10%;
  margin-top: 8%;
}

.shap_circle-1 {
  position: absolute;
  top: -250%;
  right: 40%;
}

[dir = "ltr"] .shap_circle-1 {
  right: 8%;
  top: -150%;
}

[dir = "ltr"] .shap_circle-2 {
  left : 8%;
  top: -150%;
}

[dir = "ltr"] .name {
  margin-left: -15px;
}


.shap_circle-2 {
  position: absolute;
  top: -170%;
  left: -9%;
}

@media (max-width: 767px) {
  .contact-image {
    display: none;
  }
}

.submit-btn {
  background-color: #6f42c1;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: var(--white-color);
  color: var(--purble-color);
  box-shadow: 0 0 20px #9a9a9a70;
}

/* footer */
.footer {
  background-color: var(--footer-color);
  color: var(--white-color);
  text-align: center;
  padding: 20px 0;
}

[dir = "ltr"] .footer {
    display: flex;
    justify-content: flex-end; /* لنقل العناصر إلى أقصى اليمين */
    align-items: flex-start; /* محاذاة العناصر رأسياً */
    padding: 20px; /* مسافة داخلية */
}

.text-link {
  color: #e6c7f6;
  font-weight: 500;
}

.links ul li {
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.links ul li:hover {
  cursor: pointer;
  color: var(--purble-color);
}

.footer a {
  color: var(--white-color);
  text-decoration: none;
}

.icon-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #e6c7f6;
  border-radius: 50%;
  background-color: transparent;
  color: #d3b3ff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.icon-container:hover {
  background-color: var(--purble-color);
  border: none;
}

.icon-container i {
  font-size: 24px;
}

.footer .contact a {
  color: #e6c7f6;
}
.container-1,
.activitie ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-1::before {
  content: "";
  width: 1250px;
  height: 2px;
  position: absolute;
  background-color: #f0ebe3;
  left: 50%;
  transform: translateX(-50%) translateY(-3900%);
}

@media (max-width: 767px) {
  .container-1::before {
    content: "";
    width: 450px;
    height: 2px;
    position: absolute;
    background-color: #f0ebe3;
    left: 50%;
    transform: translateX(-50%) translateY(-3900%);
  }
}

@media (min-width: 767px) and (max-width: 1300px) {
  .container-1::before {
    content: "";
    width: 1250px;
    height: 2px;
    position: absolute;
    background-color: #f0ebe3;
    left: 50%;
    transform: translateX(-50%) translateY(-3900%);
  }
}

.icon-container {
  color: #6c757d; /* لون الأيقونات */
  transition: color 0.3s ease; /* تأثير التحويل عند التمرير */
}

.icon-container:hover {
  color: #0d6efd; /* تغيير اللون عند التمرير */
}

.contact ul {
  justify-content: flex-end;
}

/* end footer */

/* @media (max-width: 767px) {

} */

/* @media (min-width: 768px) {

} */

/* Medium */

/* @media (min-width: 992px) {

} */

/* Large */

/* @media (min-width: 1200px) {

} */
